.search-bar {
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.search-bar input {
  width: 100%;
}

.event-item img {
  max-width: 64px;
}

.event-description .event-description-details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.event-detail img {
  width: 100%;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
